<div class="has-text-centered">
  <% if flash[:error] %>
    <div class="notification is-system is-danger">
      <%= flash[:error] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notification is-system is-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% flash.clear %>
</div>
<div data-controller="password-reset">
  <div class="header">
    <div class="d-flex header-wrap">
      <span class="icon">
        <i class="fas fa-key"></i>
      </span>
      <h1 class="title is-inline-block">Reset Password</h1>
    </div>
  </div>
  <div>
    <%= form_with url: users_password_reset_path, local: true do |form| %>
      <div class="columns">
        <div class="column">
          <fieldset class="form-fieldset">
            <div class="form-table">
              <div class="form-row">
                <%= form.label :old_password %>
                <div class="form-field-content">
                  <%= form.password_field :old_password %>
                </div>
              </div>
              <div class="form-row">
                <%= form.label :new_password %>
                <div class="form-field-content">
                  <%= form.password_field :new_password %>
                </div>
              </div>
              <div class="form-row">
                <%= form.label :new_password_confirmation %>
                <div class="form-field-content">
                  <%= form.password_field :new_password_confirmation %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-field-content has-text-right" style="background:none">
                  <button type="submit" class="button is-primary">
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>