<div class="list-video" id="<%=dom_id(video)%>">
  <div
    class="video"
    data-controller="video-popup-preview"
    data-video-popup-preview-preview-url-value="<%=url_for(video.content)%>"
    data-action="click->video-popup-preview#preview"
  >
    <span class="video-duration">
      <%= format_duration(video.duration_in_seconds) %>
    </span>
     <% if video.content.previewable? %>
      <%= image_tag url_for(video.content.preview(resize: '250x160')), style: 'pointer-events: none' %>
    <% end %>
  </div>
  <p class="title"><%= h video.name %></p>
  <% if video.expire_at? %>
    <small>Expiry: Date Last Updated: <%= l video.expire_at.to_date, format: :short %></small>
  <% end %>
  <% if video.approved? %>
    <small>Approved: <%= l video.events.last.created_at, format: :short %></small>
  <% end %>
  <% if video.rejected? %>
    <small>Rejected</small>
  <% end %>
  <div class="list-video-actions">
    <% unless video.approved? %>
      <a
        data-controller="links"
        class="button is-outlined is-success"
        data-links-url-value="<%= fleet_admin_video_approvals_path(video) %>"
        data-links-method-value="post"
        data-action="click->links#visit"
      >
        <span>Approve</span>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      </a>
    <% end %>
    <% unless video.rejected? %>
      <a
        data-controller="links"
        class="button is-outlined is-danger"
        data-links-url-value="<%= fleet_admin_video_rejections_path(video) %>"
        data-links-method-value="post"
        data-action="click->links#visit"
      >
        <span>Reject</span>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </a>
    <% end %>
  </div>
</div>
