<div class="list-video" data-id="<%=video.id%>">
  <div
    class="video"
    data-playlist_video_id="<%=video.id%>"
    data-playlist_video_url="<%=url_for(video.content)%>"
    data-action="click->videos#onClickVideo"
  >
    <span class="video-duration">
      <%= format_duration(video.duration_in_seconds) %>
    </span>
    <% if video.content.previewable? %>
      <%= image_tag video.content.preview(resize: '250x160'), style: 'pointer-events: none' %>
    <% end %>
  </div>
  <p class="title"><%= h video.name %></p>
  <div class="list-video-actions">
    <a
      class="button is-outlined"
      data-url="<%= edit_content_provider_video_path(video, format: :js) %>"
      data-action="click->videos#edit"
    >
      <span>Edit</span>
      <span class="icon is-small">
        <i class="fas fa-pencil-alt"></i>
      </span>
    </a>
    <a
      class="button is-outlined is-danger"
      data-action="click->videos#delete"
      data-delete_path="<%= content_provider_video_path(video, format: :js) %>"
    >
      <span>Delete</span>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
    </a>
  </div>
</div>
