<!DOCTYPE html>
<html>
  <head>
    <title>Skooteo - Sign in</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'sessions', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body data-controller="sessions">
    <% if flash[:error] %>
      <div class="notification is-system is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
